button, div, form, input {
	margin: 5px;
}

img {
	max-width: 175px;
	max-height: 175px;
}

label {
    color: black;
}

.btn-default {
    color: #000;
    font-size: medium;
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
}

.holder {
    float: left;
}

.jumbotron {
    text-align: center;
}